    *{
        margin: 0px;
        padding: 0px;
        text-decoration:none;
    }
    body.home{
        background-image: url("C00.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .container{
        width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .description{
        text-align: left;
        margin-left: 25%;
        margin-top: -23%;
        font-size: larger;
    }
    .button{
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 25px;
        border-radius: 5px;
        font-size: 18px;
        margin-right: 10%;
        margin-top: 30%;
    }   
    .button:hover{
        background-color: gray;
    }
    .nav-bar{
        position: relative;
        background: rgba(0, 0, 0, 0.451);
        display: flex;
        justify-content: left;
        padding: 10px;
    }
    .nav-bar a{
        padding:50px;
        color: aliceblue;
    }





    body.about {
        background-image: url("C01.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .about-container {
        width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction:row;
        justify-content: center;  
        align-items: center;    
        text-align: center;
        gap: 20px;       
        margin-right: 10%;   
        margin-top: 10%;   
    }
    .side-by-side {
        display: flex;         
        align-items: left;  
        gap: 50px;   
        margin-top: 0%;    
        margin-left: 25%; 
        padding-top: 10%;     
    }
    .image-block {
        text-align: left;          
    }
    .under-image {
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
        color: black;
    }
    .text-block {
        text-align: justify;
        color: black;
        margin-right: -20%;
    }
    .text-block h2 {
        color: black;
    }
    .abbutton {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 25px;
        border-radius: 5px;
        font-size: 18px;
        margin: 5px;
        display: center;
        margin-top: 130%;
    }
    .abbutton:hover {
        background-color: gray;
    }




    body.achievement {
        background-color: white;
    }